/* Cool Grey
Cool Grey 0: #1C2A39
Cool Grey 1: #2C3A49
Cool Grey 2: #3C4A59
Cool Grey 3: #4C5A69
Cool Grey 4: #5C6A79
Cool Grey 5: #6C7A89
Cool Grey 6: #7C8A99
Cool Grey 7: #8C9AA9
Cool Grey 8: #9CAAB9
Cool Grey 9: #ACBAC9
Cool Grey 10: #BCCAD9
Cool Grey 11: #C5D3E2
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: Oswald, sans-serif;
  line-height: 1.4;
  color: #c5d3e2;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

p {
  display: inline;
  font-weight: 300;
}

img {
  width: 30px;
  height: 30px;
}

.phone-screen {
  width: 100%;
  max-width: 450px;
  height: 90vh;
  border: 10px solid blue;
  margin: 5vh auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #3c4a59;
}

.header,
.content,
.footer {
  padding: 15px;
}

.header {
  background-color: #222327;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.header h1 {
  font-size: 24px;
}
